*,
*:before,
*:after {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

html,
body {
    height: 100%
}

.app__section {
    height: 100vh;
}

.app__section:nth-child(odd) {
    background-color: #F0F0F0;
}

.app__section icons {
    height: 100vh;
}

.app__section general {
    height: 100%;
}

.general__content {
    height: 100vh;
}

.startscreen {
    background-image: url("./assets/portfolio.jpg");
    background-position: center;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    padding: 24px;
}

.nav-list {
    flex-basis: 250px;
    flex-direction: row-reverse;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5%;
}

.general__content {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.general__content>* {
    padding: 10 px;
    flex: 1 100%;
}

.aside-1 {
    margin-left: 10%;
    font-style: italic;
    font-size: xx-large;
}

.aside-2 {
    margin-left: 10%;
    text-align: left;
    font-family: Tahoma, sans-serif;
    font-size: x-large;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .aside-1 {
        order: 1;
    }
    .aside-2 {
        order: 2;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 180px;
}

.img {
    height: 250px;
    margin: 25px;
}